.to-do-component {
    background-color: white;
    padding: 50px;
    border-radius: 10px;
}

/*   HEADER*/

.to-do-header {
    margin-bottom: 50px;
}

.to-do-header h3 {
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 30px;
}

.to-do-header input, textarea, select {
    text-rendering: auto;
    color: #343434;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    padding: 15px;
    border-radius: 6px;
    background-color:#F4F4F4;
    border: none;
    width: 65%;
}

.to-do-header form {
    display: flex;
}

.to-do-header button {
    background-color:#0062FF;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    padding: 15px;
    border-radius: 6px;
    border: none;
    width: 35%;
}

/*   LIST*/

.to-do-list ul li {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.to-do-list ul li div{
    display: flex;
    align-items: center;
}

.to-do-list ul li p {
    margin-left: 12px;
}

.to-do-list ul li i:last-child:hover {
    color: red;
    cursor: pointer;
}

.to-do-list ul li {
    padding: 20px 0px;
    border-bottom: 1px solid #E6E6E6;
}

.to-do-list ul li:last-child {
    border-bottom: none;
}

.to-do-list ul li i {
    color: #C7C7C7;
}

.to-do-list ul li i:first-child:hover {
    color: #6C6C6C;
    cursor: pointer;
}

.to-do-list ul li .completed-icon {
    color: #2BC90E;
}
.completed {
    color: #BEBEBE;
}

